{% extends "page_app/global/index.html" %}

{% load static %}

{% block title %}Sobre{% endblock title %}

{% block content %}
<div class="mt-5 p-5 container">
    <h1>Sobre</h1>
    <p>O Clube de Xadrez de Recife, fundado em janeiro de 2024,
        é uma associação criada com a finalidade de organizar e promover o xadrez
        omo ferramenta de inclusão, entretenimento e desenvolvimento pessoal.
        É uma entidade que representa a cidade de Recife.

        O Grupo de Xadrez de Recife realiza assim inúmeras atividades, a fim de promover e difundir o xadrez em Pernambuco.
        As atividades contam com torneios temáticos realizados periodicamente, entre outras atividades pontuais.
        A sede do grupo encontra-se aberta todos os dias da semana, das 17:00h às 20:00h, onde todos podem jogar e conviver entre si.
        Mais informações a respeito dos Contatos podem ser encontradas na página de Contato.</p>

    <h2>Competição</h2>
    <p>Para além de todas as atividades recreativas, o grupo conta também com uma vertente competitiva,
        participando todos os anos em inúmeros torneios (quer de times quer individuais), como o Campeonato de Pernambuco
        (onde conta com vários times nas diversas divisões).
        O grupo é também responsável pela organização de diversos torneios durante o ano,
        por vezes com a cooperação de outras entidades.</p>

</div>
{% endblock content %}
